/* Estilos generales de la aplicación */
.error {
  color: red
}

/* Estilos asociados a la página de Landing */
.landing {
  height: 100%;
  background: linear-gradient(to right, #7B1FA2 , #E1BEE7);
  position: fixed;
  background-repeat: space;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.landing h1 {
  color: #324057;
  padding-top: 100px;
}

/* Estilos asociados a la página de Login */
.login {
  height: 500px;
  padding: 3rem;
}
.login-form {
  text-align: center;
  max-width: 500px;
  margin: 100px auto;
  background-color: #58B7FF;
  height: 300px;
}

/* Estilos asociados al formulario de registro */
.signup-form {
  text-align: center;
  max-width: 500px;
  margin: 100px auto;
  height: 500px;
  padding: 3rem;
  background-color: #C0CCDA;
}

/* Estilos asociados a la cabecera */
.app-name {
  font-size: 24px;
}
.logout {
  float: right !important;
  font-size: 18px;
}

/* Estilos asociados a la página Home */

.home {
  margin: 25px;
}

.box-card {
  margin: 50px auto;
  text-align: center;
  font-size: 20px;
}

.hour-chart {
  margin: 0px auto;
  width: 100%;
  height: 400px;
}

.rating {
  margin: 25px auto;
  text-align: center;
}

.rating span {
  font-size: 20px;
  margin: 10px;
}

.rating .el-rate__icon {
  font-size: 36px;
}